.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover {
  background-color: #e0dbdb;
  transition: background-color 400ms linear;
}
.sidebarChat__info > h2 {
  font-size: 14px;
  margin-bottom: 6px;
}
.sidebarChat__info {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
}
